@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Nova+Mono&family=Share+Tech+Mono&display=swap');
body {
  font-family: 'Kode Mono', monospace;
  color: #ffffff;
}

.all-letters {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}
